<div class="quiz-container">
    <div class="quiz">
      <div class="progress-bar" [style.width]="getProgressWidth()"></div>
      <h2>{{ questions[currentQuestionIndex].question }}</h2>
      <div class="options">
        <label *ngFor="let option of questions[currentQuestionIndex].options; let i = index">
          <input type="radio" [value]="i" [(ngModel)]="selectedAnswer"/> {{ option }}
        </label>
      </div>
      <button (click)="nextQuestion()">Next</button>
    </div>
  </div>
  
  
  

  
  
  